* {
    font-family: 'Roboto', 'Arial', sans-serif;
    /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}

/* APP BAR */
/* #4 #sweat address both #app-bar s */
h1 {
    background-color: #3F51B5;
    color: white;
    height: 64px;
    font-size: 20px;
    padding-left: 16px;
    font-weight: normal;
    line-height: 64px;
    position: relative;
}

h1 strong {
    font-weight: normal;
}

h1 img {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

#channels h1 {
    padding-left: 65px;
}

h1 strong a {
    color: white;
}

/* CHANNELS LIST */
#channels {
    position: absolute;
    height: 100%;
    width: 40%;
    left: 0px;
}

/*star and chevron positioning*/
.channel-meta {
    position: absolute;
    right: 10px;
    bottom: 12px;
    height: 24px;
}

/* #4 #sweat #channels */
ul {
    background-color: white;
    list-style-type: none;
    /*fixed position to enable only scrolling of list*/
    position: absolute;
    top: 64px;
    bottom: 72px;
    width: 100%;
    overflow-y: auto;
}

li {
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #F5F5F5;
    /*vertically centered*/
    line-height: 16px;
    position: relative;
}

li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

/* TAB BAR */
/* #4 #sweat #tab-bar */
#tab-bar, #chat-bar {
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    width: 100%;
    /*positioning at bottom and flexbox*/
    position: absolute;
    bottom: 0px;
    display: flex;
}

/* #4 add styles to #tab-bar #buttons */
#tab-bar button {
    background-color: white;
    border: none;
    font-size: 13px;
    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
    /*share space / elements are allowed to fill all available space*/
    flex: 1 1 0;
    position: relative;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

/*star for current channel*/
#star-current-channel {
    position: absolute;
    top: 20px;
    right: 16px;
}

/*chat container with 60% width on right side*/
#chat {
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0px;
}

/*message-container in order to enable scrolling*/
#message-container {
    position: absolute;
    top: 64px;
    bottom: 72px;
    width: 100%;
    overflow-y: auto;
}

/* MESSAGES */
/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
.message {
    /* #3 #chat #width*/
    width: 80%;
    /* #4 align all #messages using #margins */
    margin-left: 2.5%;
    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
}

/*message meta-data spread equally*/
.message h3 {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*fixed width so date appears in one column*/
.message h3 em {
    font-size: larger;
    font-style: normal;
    width: 100px;
    text-align: right;
}

/*fixed width so date appears in one column*/
.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
    width: 200px;
}

.message p {
    background-color: white;
    padding: 16px;
    position: relative;
}

/*+5 min butto at lower right*/
.message button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}

/*emojis button*/
#emojis-button {
    background-color: white;
    border: none;
    height: 72px;
    padding: 16px;
}

/*emojis*/
#emojis {
    background-color: white;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 16px;
    margin-left: 16px;
    margin-top: 284px;
    font-size: 20px;
    text-align: left;


    overflow: auto;

    position: absolute;
    bottom: 50px;


    display: none;
}

